html * {
 cursor: default;
}

img{
    max-width: 100%;
}

.wrap-img {
    position: relative;
    padding-bottom: 50%;
}

  
.wrap-img img {
    height:100%;
    width: 100%;
    position: absolute;

    top:0;
    left:0;
    object-fit: cover;
    object-position: center;
}

.wrap-postmeta {
    margin-top: 30px;
}

h3{
    font-size: 18px;
    color: black;
    font-weight: 500;
}


article {
    padding: 10px;
}


#slick-buttons {
    display: flex;
    margin-left: 8px;
}

#slick .arrow_prev {
    position: absolute;
    left: 10%;
}

#slick .arrow_next {
    position: absolute;
    left: 5%;
}


#act-btn {
    cursor: pointer;
}

.slick-list {
    padding: 0 7% 0 0;
}